@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply border-2 p-2 rounded-full ease-in-out duration-300 hover:bg-gray-800 hover:scale-105 border-white hover:border-cyan-200 hover:text-cyan-200 xs:scale-90 md:scale-100;
  }
  .nav-text {
    @apply hover:underline hover:scale-110 hover:text-cyan-200 ease-in-out duration-500 cursor-pointer transition-all;
  }
  .grad-bg {
    background-image: url("../src/assets/Welcome.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 20);
    background-size: contain 50%;
    background-attachment: fixed;
    background-blend-mode: screen;
  }

  
  .text-hover-shrink {
    @apply text-white hover:font-thin hover:scale-150 hover:px-1 transition-all ease-in-out duration-100;
  }

  .text-hover-shrink-black {
    @apply text-black hover:font-thin hover:scale-150 hover:px-1 transition-all ease-in-out duration-100;
  }
  .parallax {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    /* background-color: red; */
    background-image: url("../src/assets/snap emoji.webp");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;

    padding: 0;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .inner-element {
      transform: translateZ(60px);
      transform-style: preserve-3d;
      z-index: 20;
    }
  }
  .stars {
    margin: auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-blend-mode: difference; */
  }
  #circle {
    z-index: 10;
    @apply xs:invisible md:visible;
  }

  .lang-img {
    /* z-index: 50; */
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.49);
  }
  @keyframes grow-height {
    0% {
      width: 0;
    }
    100% {
      widtht: 300px;
    }
  }

  .hover-show {
    /* display: none; */
    width: 0; /* Initial height */
    /* overflow: hidden; Hide content during the animation */
    transition: width 1s ease-in-out; /* Smooth height transition */
  }

  .carousel:hover .hover-show {
    /* display: block; */
    width: 600px; /* Final height on hover */

    transition: width 1s ease-in-out;
  }

  .stars::before {
    background-image: url("../src/assets/Frame 224.webp");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 150%;
    left: 365%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 0 0;
    width: 400%;
    height: 400%;
    scale: 150%;
    filter: brightness(120%);
  }
  @keyframes slowBlink {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.7;
    }
  }
}

@font-face {
  font-family: "League_Spartan_black";
  src: local("League_Spartan_black"),
    url("./assets/font/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "League_Spartan_black", sans-serif;
  overflow-x: hidden;
  background-color: black;
  max-width: 100vw;
}

.root-story {
  font-family: Arial, sans-serif;

  .tab-demo.react-tabs__tab-panel--selected {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

:root {
  --default-stripe-bg-color: #077407;
  --default-stripe-color: #015f01;
}

.background-stripes {
  background: repeating-linear-gradient(
    45deg,
    var(--default-stripe-color),
    var(--default-stripe-color) 35px,
    var(--default-stripe-bg-color) 35px,
    var(--default-stripe-bg-color) 70px
  );
}

#circle {
  width: 50px;

  height: 50px;

  background-color: #ff0000;
  border-radius: 50%;

  position: fixed;
  mix-blend-mode: difference;

  pointer-events: none; /* Ensure the ball doesn't interfere with other elements */
  transition: transform 0.1s ease-out; /* Optional: Add a smooth transition effect */
}
html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: yellow;
  color: black;
}

.bg-rainbow {
  background: url("../src/assets/rainbowbg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-linemesh {
  background: url("../src/assets/linemesh.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-whitelinemesh {
  background: url("..src/assets/gradientswirl.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-spline{
  background: url("./assets/Splines .webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 500px;
  background-color: white;
}
.bg-star {
  background: url("../src/assets/vectorstar.svg");
  background-position: 120% 120%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: rgb(64 64 64);
}
@keyframes scaleUp{
  0%{
    background-size: 120%;
    /* background-position: -500% -50%; */
  }
  100%{
    background-size: 100%;
    /* background-position: center; */
  }
}
.bg-star-dark {
  background: 
    linear-gradient(rgba(23, 23, 23, 0.98), rgba(23, 23, 23, 0.98)), /* Overlay */
    url("../src/assets/vectorstar.svg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #171717;
animation:  scaleUp 5s infinite alternate;
}

.bg-star-blue {
  background: 
    url("../src/assets/vectorstar.svg") no-repeat, /* Vector image */
    linear-gradient(to right, rgb(29, 78, 216), rgb(192, 132, 252)); /* Gradient */
  background-position: -20% 120%; /* Position the vector */
  background-repeat: no-repeat; /* Avoid repeating the vector */
  background-size: 50%, cover; /* Size of vector and gradient */
}
